In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_predict, train_test_split, GridSearchCV
from sklearn.svm import SVC
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.pipeline import Pipeline
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

from nltk.corpus import wordnet as wn
from nltk.stem.wordnet import WordNetLemmatizer
from nltk import word_tokenize, pos_tag
from collections import defaultdict
import re
import json
from sklearn.metrics import confusion_matrix
import pickle

tag_map = defaultdict(lambda: wn.NOUN)
tag_map['J'] = wn.ADJ
tag_map['V'] = wn.VERB
tag_map['R'] = wn.ADV
tag_map['AS'] = wn.ADJ_SAT

# filepath = "finalized_8K_accounts.csv"
# filepath = "UNLABELED_accounts_emojis_replaced.csv"
filepath = "Spill_Accounts_To_Be_Labeled.csv"
hand_label = "hand.label"
government = "gov"
academia = "acad"
tourBiz = "tourbiz"

df = pd.read_csv(filepath)

# df = df[((df[hand_label] == 'media') | (df[hand_label] == tourBiz) |(df[hand_label] == academia) | (df[hand_label] == government) | (
#        df[hand_label] == 'other'))]

df = df[['username', 'description']]  # keep only relevant columns

lemmatizer = WordNetLemmatizer()
words_not_changed = ['media']


def preprocessing(row):
    if str(row) == "nan":
        lemma = ""
    else:
        row = str(row).lower()
        row = word_tokenize(row)  # tokenize
        lemma = [lemmatizer.lemmatize(token, tag_map[tag[0]]) if token not in words_not_changed else token for
                 token, tag in pos_tag(row)]  # lemmatization, depending on part-of-speech
        lemma = ["" if re.search(r'\b[0-9]+\b\s*', lem) else lem for lem in lemma]  # removing
    return str(lemma)


df['description_lemmatized'] = df['description'].apply(preprocessing)

print(df)

             username                                        description  \
0       ChungSunPark4                                      attempt me!!!
1        LucilaQuanti  Me gusta la gente con sentido del humor, alegr...
2       patdefranchis  I love people with a large dose of humor & a r...
3       saravastiares  Have courage & Be Kind. Where there is kindnes...
4      TheShogunGamer  Video Game Extraordinaire 🎮 Polyamorous ❤ Disa...
...               ...                                                ...
3493   ChrisFischer07                                                NaN
3494       ryantpa813  Eight One Three Sports\nBolts, Bucs, Rays, Soo...
3495  TueNiteRockStar                                                NaN
3496     purpletang99  i tweet my opinions only. yes there are except...
3497       firefly909  Unapologetic bleeding heart liberal. Hate liar...

                                 description_lemmatized
0                      ['attempt', 'me', '!', '!', '!']
1     ['me', 'gusta', 'la', 'gente', 'con', 'sentido...
2     ['i', 'love', 'people', 'with', 'a', 'large', ...
3     ['have', 'courage', '&', 'be', 'kind', '.', 'w...
4     ['video', 'game', 'extraordinaire', '🎮', 'poly...
...                                                 ...
3493
3494  ['eight', 'one', 'three', 'sport', 'bolt', ','...
3495
3496  ['i', 'tweet', 'my', 'opinion', 'only', '.', '...
3497  ['unapologetic', 'bleed', 'heart', 'liberal', ...

[3498 rows x 3 columns]

In [13]:
# all the empty descriptions
print(df.shape)
print(df[df['description_lemmatized'] != ""].shape)

(3498, 3)
(2908, 3)

In [14]:
# Remove all the empty descriptions
empty_rows = df[df['description_lemmatized'] == ""]
print(empty_rows.shape)
df = df[df['description_lemmatized'] != ""]
print(df.shape)
#df[hand_label]
#print(df.shape)
#df[df['description_lemmatized'] != ""].shape

(590, 3)
(2908, 3)

In [44]:
# Re-indexing the remaining observations
df = df.reset_index(drop=True)

In [145]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('all-MiniLM-L6-v2')

# print(type(df[['description_lemmatized']]))
embeddings = model.encode(df['description'].tolist())

ImportError: cannot import name 'Tensor' from 'torch' (unknown location)

In [ ]:
# filename = 'SVM_BOW_unweighted_enhanced_model.pickle'
filename = 'SVM_BERT_unweighted_enhanced_model_full(1, 2).pickle'
loaded_model = pickle.load(open(filename, 'rb'))

X_test = embeddings

bag_of_words_y_pred_test = loaded_model.predict(X_test)

bag_of_words_y_pred_test

pred_prob = loaded_model.predict_proba(X_test)

In [ ]:
pred_prob
bag_of_words_y_pred_test
pd.concat([pd.DataFrame(bag_of_words_y_pred_test), pd.DataFrame(pred_prob)], axis=1)

In [ ]:
pred_prob.shape

In [ ]:
pred_prob_df = pd.DataFrame(pred_prob, columns = ['acad_prob','gov_prob','media_prob','other_prob', 'tourbiz_prob'])

bag_of_words_y_pred_test.size

df['hand.label_simplified'] = bag_of_words_y_pred_test
#df = df.drop(columns=['description_lemmatized'])
df1 = pd.concat([df, pred_prob_df], axis=1)
#df1 = pd.DataFrame(my_array, columns = ['acad_prob','gov_prob','media_prob','other_prob', 'tourbiz_prob'])

df1
df1.shape
#pred_prob_df.shape
#len(bag_of_words_y_pred_test)

In [151]:
df1

NameError: name 'df1' is not defined

In [48]:
df1.to_csv(r'SVM_BERT_unweighted_UNLABELED_PREDICTED_accounts_W_PROBABILITIES_emojis_unchanged.csv', index=False)

In [18]:
import pandas as pd
spill_labeled_accs = pd.read_csv("Spill_Labeled.csv")
#spill_labeled_accs

In [20]:
print(spill_labeled_accs.size)

print(spill_labeled_accs["hand.label_simplified"].value_counts())

spill_labeled_accs["hand.label_simplified"].value_counts("row")

26172
hand.label_simplified
other      2680
media       162
acad         62
tourbiz       3
gov           1
Name: count, dtype: int64

hand.label_simplified
other      0.921596
media      0.055708
acad       0.021320
tourbiz    0.001032
gov        0.000344
Name: proportion, dtype: float64

# Relabeling "other" rows

In [23]:
# getting the rows labeled as other
mask = spill_labeled_accs["hand.label_simplified"] == 'other'


row_list = []
# Check if any of the probabilities (except 'other_prob') are greater than 0.3
for index, row in spill_labeled_accs[mask].iterrows():
    for col in ['acad_prob', 'gov_prob', 'media_prob', 'other_prob', 'tourbiz_prob']:
        if col != 'other_prob' and row[col] > 0.3:
            # saving the columns to review
            row_list.append(row)
            # Update the prediction column to the column name where the probability is higher than 0.3
            #spill_labeled_accs.at[index, "hand.label_simplified"] = col.replace('_prob', '')
rows_for_review = pd.DataFrame(row_list)
rows_for_review = rows_for_review.drop_duplicates()
#print(rows_for_review)

rows_for_review.to_csv("Accounts_To_Relabel.csv")

In [25]:
print(spill_labeled_accs["hand.label_simplified"].value_counts())

spill_labeled_accs["hand.label_simplified"].value_counts("row")
spill_labeled_accs

hand.label_simplified
other      2680
media       162
acad         62
tourbiz       3
gov           1
Name: count, dtype: int64

,username,description,description_lemmatized,hand.label_simplified,acad_prob,gov_prob,media_prob,other_prob,tourbiz_prob
0,ChungSunPark4,attempt me!!!,"['attempt', 'me', '!', '!', '!']",other,0.000776,0.000603,0.004676,0.993783,0.000162
1,LucilaQuanti,"Me gusta la gente con sentido del humor, alegr...","['me', 'gusta', 'la', 'gente', 'con', 'sentido...",other,0.009851,0.001305,0.006343,0.981409,0.001092
2,patdefranchis,I love people with a large dose of humor & a r...,"['i', 'love', 'people', 'with', 'a', 'large', ...",other,0.003543,0.000746,0.004899,0.990260,0.000552
3,saravastiares,Have courage & Be Kind. Where there is kindnes...,"['have', 'courage', '&', 'be', 'kind', '.', 'w...",other,0.003940,0.000537,0.007693,0.985011,0.002819
4,TheShogunGamer,Video Game Extraordinaire 🎮 Polyamorous ❤ Disa...,"['video', 'game', 'extraordinaire', '🎮', 'poly...",other,0.000925,0.000598,0.003607,0.994229,0.000641
...,...,...,...,...,...,...,...,...,...
2903,meevans59,Retired Department of Defense civilian employe...,"['retired', 'department', 'of', 'defense', 'ci...",other,0.001988,0.004162,0.002987,0.990808,0.000055
2904,dvdhnz,"Techie by trade, recalcitrant by design, socia...","['techie', 'by', 'trade', ',', 'recalcitrant',...",other,0.015865,0.002104,0.001636,0.978123,0.002272
2905,ryantpa813,"Eight One Three Sports\nBolts, Bucs, Rays, Soo...","['eight', 'one', 'three', 'sport', 'bolt', ','...",other,0.000745,0.001396,0.033677,0.962982,0.001200
2906,purpletang99,i tweet my opinions only. yes there are except...,"['i', 'tweet', 'my', 'opinion', 'only', '.', '...",other,0.003356,0.000360,0.076140,0.919635,0.000509
2907,firefly909,Unapologetic bleeding heart liberal. Hate liar...,"['unapologetic', 'bleed', 'heart', 'liberal', ...",other,0.000927,0.000073,0.000698,0.998056,0.000247

In [27]:
## replacing some rows with their manually labeled values

relabeled = pd.read_csv("Final_Account_Relabeling.csv")
mask = spill_labeled_accs["username"].isin(relabeled["username"])
# Update columns in df1 with corresponding values from df2 where usernames match
for index, row in spill_labeled_accs[mask].iterrows():
    relabel_row = relabeled[relabeled['username'] == row['username']]
    spill_labeled_accs.loc[index, 'hand.label_simplified'] = relabel_row['hand.label_simplified'].values
spill_labeled_accs["hand.label_simplified"].value_counts()

hand.label_simplified
other      2606
media       162
acad         62
other        36
media        17
acad         14
gov           5
tourbiz       3
tourbiz       2
gov           1
Name: count, dtype: int64

In [29]:
spill_accs_merged = pd.merge(spill_labeled_accs, empty_rows, how="outer")

print(spill_accs_merged.shape)
print(spill_accs_merged)

(3498, 9)
             username                                        description  \
0             004nino  Retraité.Égalité,fraternité,justice,liberté,na...
1              00a03d  Mom of one, grandma of two, sister of six, aun...
2     05adamlover0129  LOVE Adam Lambert for life!!! Also love Miami ...
3     0Plongstocking2  Not a traitor. Traveler. Liker of food. Orchid...
4             0Thessa  💚... schönheit\nist die natur! die kunst ist u...
...               ...                                                ...
3493   zoeycarmicheal  The Univ. of Alabama Alumni. Former Gymnast an...
3494           zpleat  Research at Media Matters for America. All twe...
3495         zshahan3  Human (maybe), writer + chief editor + CEO @Cl...
3496          zul1732  You can't see people for what they are when yo...
3497        zyiteblog  E-Scootersworld is global Power transport reta...

                                 description_lemmatized hand.label_simplified  \
0     ['retraité.égalité', ',', 'fraternité', ',', '...                 other
1     ['mom', 'of', 'one', ',', 'grandma', 'of', 'tw...                 other
2     ['love', 'adam', 'lambert', 'for', 'life', '!'...                 other
3     ['not', 'a', 'traitor', '.', 'traveler', '.', ...                 other
4     ['💚', '...', 'schönheit', 'ist', 'die', 'natur...                 other
...                                                 ...                   ...
3493  ['the', 'univ', '.', 'of', 'alabama', 'alumnus...                 other
3494  ['research', 'at', 'media', 'matter', 'for', '...                 other
3495  ['human', '(', 'maybe', ')', ',', 'writer', '+...                 media
3496  ['you', 'ca', "n't", 'see', 'people', 'for', '...                 other
3497  ['e-scootersworld', 'be', 'global', 'power', '...                 other

      acad_prob  gov_prob  media_prob  other_prob  tourbiz_prob
0      0.017303  0.002636    0.010321    0.969045      0.000695
1      0.008145  0.002770    0.011733    0.977149      0.000203
2      0.005680  0.000770    0.202065    0.788418      0.003066
3      0.006012  0.005455    0.001879    0.980456      0.006198
4      0.014347  0.017324    0.018455    0.948339      0.001535
...         ...       ...         ...         ...           ...
3493   0.003370  0.003790    0.041372    0.948383      0.003084
3494   0.031496  0.002862    0.050988    0.914259      0.000394
3495   0.004032  0.000303    0.693154    0.302204      0.000308
3496   0.005312  0.000945    0.001609    0.986842      0.005293
3497   0.005406  0.005807    0.019533    0.938352      0.030902

[3498 rows x 9 columns]

In [31]:
# acccounts labeled during Red-Tide research
prev_accs = pd.read_csv("Final_Account_Labels_for_Dashboard.csv")
print(prev_accs)
accounts_merged = pd.concat([spill_accs_merged, prev_accs], ignore_index=True)

accounts_merged.to_csv("ALL_Labeled_Accounts_Spill&RedTide.csv")

              username                                        description  \
0                  CNN  It’s our job to #GoThere & tell the most diffi...
1               NatGeo  Taking our understanding and awareness of the ...
2              FoxNews  Follow America's #1 cable news network, delive...
3       washingtonpost                         Democracy Dies in Darkness
4                  ABC  The only official ABC News Twitter account. Do...
...                ...                                                ...
29128  EvergreenZephyr  Wichita, Kansas, United (sic) States. Parody a...
29129         johntfox  Madeleine & Marin's Dad | Gin Enthusiast | Twe...
29130         SeGreene  Cranky former nurse and current plant patholog...
29131      CherylLasse  Passionate about the environment, science and ...
29132          jen_pic  🚫socialism. Pay your debts, ALL OF THEM! Nothi...

       Label Label.Type
0      media       Hand
1      media       Hand
2      media       Hand
3      media       Hand
4      media       Hand
...      ...        ...
29128  other    Predict
29129  other    Predict
29130  other    Predict
29131  other    Predict
29132  other    Predict

[29133 rows x 4 columns]

In [33]:
# importing the spill files

oil = pd.read_csv("../spill_data/Cleaned_Files/C_All_Oil.csv")
sewage = pd.read_csv("../spill_data/Cleaned_Files/C_All_Sewage.csv")
industrial = pd.read_csv("../spill_data/Cleaned_Files/C_All_Industrial.csv")

oil_accs = accounts_merged[accounts_merged["username"].isin(oil["username"])]
print(oil_accs["hand.label_simplified"].value_counts())
print(oil_accs["hand.label_simplified"].value_counts("row"))

sewage_accs = accounts_merged[accounts_merged["username"].isin(sewage["username"])]
print(sewage_accs["hand.label_simplified"].value_counts())
print(sewage_accs["hand.label_simplified"].value_counts("row"))

industrial_accs = accounts_merged[accounts_merged["username"].isin(industrial["username"])]
print(industrial_accs["hand.label_simplified"].value_counts())
print(industrial_accs["hand.label_simplified"].value_counts("row"))

hand.label_simplified
other      247
media       31
acad        19
media        7
acad         3
other        2
gov          1
tourbiz      1
Name: count, dtype: int64
hand.label_simplified
other      0.794212
media      0.099678
acad       0.061093
media      0.022508
acad       0.009646
other      0.006431
gov        0.003215
tourbiz    0.003215
Name: proportion, dtype: float64
hand.label_simplified
other      207
media        9
acad         4
other        3
gov          3
media        2
tourbiz      1
gov          1
Name: count, dtype: int64
hand.label_simplified
other      0.900000
media      0.039130
acad       0.017391
other      0.013043
gov        0.013043
media      0.008696
tourbiz    0.004348
gov        0.004348
Name: proportion, dtype: float64
hand.label_simplified
other      2179
media       127
acad         39
other        31
acad         11
media         9
tourbiz       2
tourbiz       1
gov           1
gov           1
Name: count, dtype: int64
hand.label_simplified
other      0.907539
media      0.052895
acad       0.016243
other      0.012911
acad       0.004581
media      0.003748
tourbiz    0.000833
tourbiz    0.000416
gov        0.000416
gov        0.000416
Name: proportion, dtype: float64

# TF-IDF

In [36]:
# tf-idf
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [38]:
# adding the account labels to the csv with tweets in order to accesss during tf-idf
oil_w_acc = pd.merge(oil, accounts_merged, on='username', how='left')
print(oil_w_acc)
industrial_w_acc = pd.merge(industrial, accounts_merged, on='username', how='left')
sewage_w_acc = pd.merge(sewage, accounts_merged, on='username', how='left')

     Unnamed: 0                                               text  \
0             1  Reposting @divyendhu:\nOil Spill on the Gulf o...
1             2  RT @hihi0806: Reposting @divyendhu:\nOil Spill...
2             3  RT @hihi0806: Reposting @divyendhu:\nOil Spill...
3             4  RT @hihi0806: Reposting @divyendhu:\nOil Spill...
4             5  RT @hihi0806: Reposting @divyendhu:\nOil Spill...
..          ...                                                ...
705         615  @1053SS I think this team shouldn’t even be ov...
706           1  The governor is responsible, but those who cam...
707           2  The governor is responsible, but those who cam...
708           3  The governor is responsible, but those who cam...
709           4  RT @DGRFlorida: The governor is responsible, b...

     possibly_sensitive                   id            author_id  \
0                  True  1079362755352817665             95188073
1                 False  1079363436130136069  1053787947902758918
2                 False  1079462270374215681            842498792
3                 False  1342684372009447424           2241627420
4                 False  1342687535093473286            146645976
..                  ...                  ...                  ...
705               False  1604784465686827009           2419893955
706               False  1033090028497321984           3384569867
707               False  1033091674820423681            175569476
708               False  1033092550393921536   773350091440680960
709               False  1039072225054392320             29393077

         conversation_id  in_reply_to_user_id reply_settings lang  \
0    1079362755352817665                  NaN       everyone   en
1    1079363436130136069                  NaN       everyone   en
2    1079462270374215681                  NaN       everyone   en
3    1342684372009447424                  NaN       everyone   en
4    1342687535093473286                  NaN       everyone   en
..                   ...                  ...            ...  ...
705  1604668490555629568          132734157.0       everyone   en
706  1033090028497321984                  NaN       everyone   en
707  1033091674820423681                  NaN       everyone   en
708  1033092550393921536                  NaN       everyone   en
709  1039072225054392320                  NaN       everyone   en

            created_at.x  ...  \
0    2018-12-30 13:05:09  ...
1    2018-12-30 13:07:51  ...
2    2018-12-30 19:40:35  ...
3    2020-12-26 04:11:14  ...
4    2020-12-26 04:23:48  ...
..                   ...  ...
705  2022-12-19 10:23:26  ...
706  2018-08-24 20:33:51  ...
707  2018-08-24 20:40:23  ...
708  2018-08-24 20:43:52  ...
709  2018-09-10 08:44:58  ...

                                         description_y  \
0    Hi!! ☕️Good to see you!! 🍵Please be sure to en...
1                                        attempt me!!!
2    Me gusta la gente con sentido del humor, alegr...
3    I love people with a large dose of humor & a r...
4    Have courage & Be Kind. Where there is kindnes...
..                                                 ...
705  The sun never says to earth you owe me for shi...
706  Official Deep Green Resistance Florida! You ca...
707                                                NaN
708  Fighting Pipelines Everywhere! #waterprotector...
709  Up The Irons🤘System Change #NotMeUs NoLISTS #H...

                                description_lemmatized  hand.label_simplified  \
0                                                  NaN                    NaN
1                     ['attempt', 'me', '!', '!', '!']                  other
2    ['me', 'gusta', 'la', 'gente', 'con', 'sentido...                  other
3    ['i', 'love', 'people', 'with', 'a', 'large', ...                  other
4    ['have', 'courage', '&', 'be', 'kind', '.', 'w...                  other
..                                                 ...                    ...
705  ['the', 'sun', 'never', 'say', 'to', 'earth', ...                  other
706                                                NaN                    NaN
707                                                NaN                    NaN
708                                                NaN                    NaN
709                                                NaN                    NaN

    acad_prob  gov_prob  media_prob other_prob tourbiz_prob  Label  Label.Type
0         NaN       NaN         NaN        NaN          NaN  other        Hand
1    0.000776  0.000603    0.004676   0.993783     0.000162    NaN         NaN
2    0.009851  0.001305    0.006343   0.981409     0.001092    NaN         NaN
3    0.003543  0.000746    0.004899   0.990260     0.000552    NaN         NaN
4    0.003940  0.000537    0.007693   0.985011     0.002819    NaN         NaN
..        ...       ...         ...        ...          ...    ...         ...
705  0.002275  0.001970    0.036049   0.957599     0.002107    NaN         NaN
706       NaN       NaN         NaN        NaN          NaN  other        Hand
707       NaN       NaN         NaN        NaN          NaN  other        Hand
708       NaN       NaN         NaN        NaN          NaN  other     Predict
709       NaN       NaN         NaN        NaN          NaN  other     Predict

[710 rows x 42 columns]

In [40]:
# wordcloud analysis based on account type

#preprocessing
oil_w_acc['text_with_display_links'].fillna('', inplace=True)
industrial_w_acc['text_with_display_links'].fillna('', inplace=True)
sewage_w_acc['text_with_display_links'].fillna('', inplace=True)

/var/folders/v1/dkrd1tzx2cvd0z9f5pbj8xp00000gn/T/ipykernel_35568/3500104522.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  oil_w_acc['text_with_display_links'].fillna('', inplace=True)
/var/folders/v1/dkrd1tzx2cvd0z9f5pbj8xp00000gn/T/ipykernel_35568/3500104522.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  industrial_w_acc['text_with_display_links'].fillna('', inplace=True)
/var/folders/v1/dkrd1tzx2cvd0z9f5pbj8xp00000gn/T/ipykernel_35568/3500104522.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sewage_w_acc['text_with_display_links'].fillna('', inplace=True)

In [42]:
# preprocessing for tf-idf: columns -> account type, word, n (number of accounts that mentioned that word)
oil_acad = oil_w_acc[oil_w_acc["hand.label_simplified"]=="acad"]
print(oil_acad)

     Unnamed: 0                                               text  \
6             1  @jamesapisano The Barataria Bay Bottlenose dol...
32            9  Join researchers and responders as they discus...
36           13  RT @NASEM_Gulf: Join researchers and responder...
37           14  RT @NASEM_Gulf: Join researchers and responder...
69           46  RT @usfsp: Associate Professor Heather Judkins...
113          23  As a scientist..we're so frustrated. Politics ...
139          49  RT @RECOVER_GOMRI: #tbt to 2016 Gulf of Mexico...
141          51  RT @RECOVER_GOMRI: #tbt to 2016 Gulf of Mexico...
143          53  RT @RECOVER_GOMRI: #tbt to 2016 Gulf of Mexico...
315         225  We are very pleased to be running a pelagic ec...
316         226  Steve Murawski presented at Tampa Bay's Festiv...
319         229  Join us at the 2020 Gulf of Mexico Oil Spill &...
322         232  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
323         233  Join us at the 2020 Gulf of Mexico Oil Spill &...
324         234  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
326         236  Join us at the 2020 Gulf of Mexico Oil Spill &...
327         237  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
328         238  ⁦@GulfConference⁩ Drs Rita Colwell and Ellen W...
329         239  Join us at the 2020 Gulf of Mexico Oil Spill &...
330         240  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
331         241  Join us at the 2020 Gulf of Mexico Oil Spill &...
332         242  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
333         243  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
334         244  Did you catch the world-premiere of the Gulf o...
336         246  RT @ESMaungDouglass: Did you catch the world-p...
377         287  The Cuyahoga river in Cleveland burst into fla...
392         302  @Doldua17 @GovRonDeSantis Word is this could c...
477         387  #OTD in 1993, three vessels collided near the ...
485         395  via ⁦⁦@nytimes⁩ A manageable risk? This, along...

     possibly_sensitive                   id            author_id  \
6                 False   949380859404038144           1551101437
32                False  1113871426057113600           3438303297
36                False  1113905363726798849           1732895058
37                False  1114036577402064896   971780036368961536
69                False  1550207558534606848            159496534
113               False  1033830354157821952            743758458
139               False  1091086111324192769   863052926469722112
141               False  1092451055122739200           3030402067
143               False  1092507712838135810   742780043416326145
315               False  1169241458525835271  1119240137374871553
316               False  1193223987154882560            937673342
319               False  1212768037855809536           3438303297
322               False  1213185439517024257  1131689631173554177
323               False  1217140627303026688           3438303297
324               False  1217280729039745026            390839075
326               False  1222188099960299520           3438303297
327               False  1222335774500294662           3127920234
328               False  1224345361025785856           1657845170
329               False  1224347414288588802           3438303297
330               False  1224527313032839168            390839075
331               False  1224815128262139908           3438303297
332               False  1224838118815170560            390839075
333               False  1225106825663651840            403517702
334               False  1227328142945193984           3097648455
336               False  1227341517099917312             46137812
377               False  1329082038394130441  1012036197559029763
392               False  1378518953081901065           2551758512
477               False  1425142348024061955           2196784676
485               False  1445050697477607424             39362298

         conversation_id  in_reply_to_user_id reply_settings lang  \
6     949089545953296384         4.907248e+08       everyone   en
32   1113871426057113600                  NaN       everyone   en
36   1113905363726798849                  NaN       everyone   en
37   1114036577402064896                  NaN       everyone   en
69   1550207558534606848                  NaN       everyone   en
113  1033830354157821952                  NaN       everyone   en
139  1091086111324192769                  NaN       everyone   en
141  1092451055122739200                  NaN       everyone   en
143  1092507712838135810                  NaN       everyone   en
315  1169241458525835271                  NaN       everyone   en
316  1193223987154882560                  NaN       everyone   en
319  1212768037855809536                  NaN       everyone   en
322  1213185439517024257                  NaN       everyone   en
323  1217140627303026688                  NaN       everyone   en
324  1217280729039745026                  NaN       everyone   en
326  1222188099960299520                  NaN       everyone   en
327  1222335774500294662                  NaN       everyone   en
328  1224345361025785856                  NaN       everyone   en
329  1224347414288588802                  NaN       everyone   en
330  1224527313032839168                  NaN       everyone   en
331  1224815128262139908                  NaN       everyone   en
332  1224838118815170560                  NaN       everyone   en
333  1225106825663651840                  NaN       everyone   en
334  1227328142945193984                  NaN       everyone   en
336  1227341517099917312                  NaN       everyone   en
377  1329082036527661059         1.012036e+18       everyone   en
392  1378475858332123138         1.246969e+18       everyone   en
477  1425142348024061955                  NaN       everyone   en
485  1445050697477607424                  NaN       everyone   en

            created_at.x  ...  \
6    2018-01-05 20:43:30  ...
32   2019-04-04 18:30:17  ...
36   2019-04-04 20:45:08  ...
37   2019-04-05 05:26:32  ...
69   2022-07-21 19:54:18  ...
113  2018-08-26 21:35:38  ...
139  2019-01-31 21:29:34  ...
141  2019-02-04 15:53:22  ...
143  2019-02-04 19:38:31  ...
315  2019-09-04 13:31:01  ...
316  2019-11-09 17:49:02  ...
319  2020-01-02 16:10:07  ...
322  2020-01-03 19:48:43  ...
323  2020-01-14 17:45:13  ...
324  2020-01-15 03:01:56  ...
326  2020-01-28 16:02:04  ...
327  2020-01-29 01:48:53  ...
328  2020-02-03 14:54:15  ...
329  2020-02-03 15:02:25  ...
330  2020-02-04 02:57:16  ...
331  2020-02-04 22:00:57  ...
332  2020-02-04 23:32:18  ...
333  2020-02-05 17:20:03  ...
334  2020-02-11 20:26:46  ...
336  2020-02-11 21:19:55  ...
377  2020-11-18 15:20:25  ...
392  2021-04-04 01:25:04  ...
477  2021-08-10 17:09:48  ...
485  2021-10-04 15:38:28  ...

                                         description_y  \
6    Surfer, Sailor, Cetacean Researcher & Marine M...
32   The Gulf Research Program of @theNASEM funds s...
36   We are a team of scientists studying the effec...
37   Marine Science Research Institute | Jacksonvil...
69   With 23 academic departments & 14 research cen...
113  M.S. Marine Biologist. Educator Mermaid. Surfe...
139  Discovery begins here. Become a scientific lea...
141  UTMSI is a department of the University of Tex...
143  University of North Texas. Interested in behav...
315  We are the Seascape Lab at Nova Southeastern U...
316  An international consortium studying the impac...
319  The Gulf Research Program of @theNASEM funds s...
322  Are you a UTRGV student with an interest in th...
323  The Gulf Research Program of @theNASEM funds s...
324  professional marine biologist, amateur geologi...
326  The Gulf Research Program of @theNASEM funds s...
327  Hi! my name is Squirt & I will help guide you ...
328  Snr Social and Behavioral Scientist @RANDCorpo...
329  The Gulf Research Program of @theNASEM funds s...
330  professional marine biologist, amateur geologi...
331  The Gulf Research Program of @theNASEM funds s...
332  professional marine biologist, amateur geologi...
333  NGI develops, operates and maintains an integr...
334  Public Engagement Specialist @LASeaGrant. Shar...
336  Louisiana Sea Grant College Program: promoting...
377  The Office of Campus Safety fosters a secure e...
392  Creator of #SidewalkScienceCenter providing sc...
477  @NOAA's Office of Response and Restoration dev...
485  Diver, Cyclist, Hiker, Meteorologist, Speaker ...

                                description_lemmatized  hand.label_simplified  \
6    ['surfer', ',', 'sailor', ',', 'cetacean', 're...                   acad
32   ['the', 'gulf', 'research', 'program', 'of', '...                   acad
36   ['we', 'be', 'a', 'team', 'of', 'scientist', '...                   acad
37   ['marine', 'science', 'research', 'institute',...                   acad
69   ['with', '', 'academic', 'department', '&', ''...                   acad
113  ['m.s', '.', 'marine', 'biologist', '.', 'educ...                   acad
139  ['discovery', 'begin', 'here', '.', 'become', ...                   acad
141  ['utmsi', 'be', 'a', 'department', 'of', 'the'...                   acad
143  ['university', 'of', 'north', 'texas', '.', 'i...                   acad
315  ['we', 'be', 'the', 'seascape', 'lab', 'at', '...                   acad
316  ['an', 'international', 'consortium', 'study',...                   acad
319  ['the', 'gulf', 'research', 'program', 'of', '...                   acad
322  ['be', 'you', 'a', 'utrgv', 'student', 'with',...                   acad
323  ['the', 'gulf', 'research', 'program', 'of', '...                   acad
324  ['professional', 'marine', 'biologist', ',', '...                   acad
326  ['the', 'gulf', 'research', 'program', 'of', '...                   acad
327  ['hi', '!', 'my', 'name', 'be', 'squirt', '&',...                   acad
328  ['snr', 'social', 'and', 'behavioral', 'scient...                   acad
329  ['the', 'gulf', 'research', 'program', 'of', '...                   acad
330  ['professional', 'marine', 'biologist', ',', '...                   acad
331  ['the', 'gulf', 'research', 'program', 'of', '...                   acad
332  ['professional', 'marine', 'biologist', ',', '...                   acad
333  ['ngi', 'develops', ',', 'operates', 'and', 'm...                   acad
334  ['public', 'engagement', 'specialist', '@', 'l...                   acad
336  ['louisiana', 'sea', 'grant', 'college', 'prog...                   acad
377  ['the', 'office', 'of', 'campus', 'safety', 'f...                   acad
392  ['creator', 'of', '#', 'sidewalksciencecenter'...                   acad
477  ['@', 'noaa', "'s", 'office', 'of', 'response'...                   acad
485  ['diver', ',', 'cyclist', ',', 'hiker', ',', '...                   acad

    acad_prob  gov_prob  media_prob other_prob tourbiz_prob Label  Label.Type
6    0.830953  0.002286    0.005970   0.144719     0.016073   NaN         NaN
32   0.943721  0.004425    0.001227   0.048869     0.001758   NaN         NaN
36   0.973504  0.000624    0.014026   0.011510     0.000335   NaN         NaN
37   0.998633  0.000393    0.000059   0.000613     0.000302   NaN         NaN
69   0.428769  0.011160    0.006297   0.550501     0.003273   NaN         NaN
113  0.565843  0.000736    0.002633   0.413360     0.017428   NaN         NaN
139  0.940705  0.001007    0.003235   0.054601     0.000452   NaN         NaN
141  0.455684  0.009440    0.002407   0.501951     0.030518   NaN         NaN
143  0.889284  0.000527    0.000374   0.109605     0.000211   NaN         NaN
315  0.979548  0.000130    0.000608   0.018919     0.000796   NaN         NaN
316  0.502699  0.011170    0.045443   0.430871     0.009817   NaN         NaN
319  0.943721  0.004425    0.001227   0.048869     0.001758   NaN         NaN
322  0.974479  0.000302    0.000297   0.023609     0.001312   NaN         NaN
323  0.943721  0.004425    0.001227   0.048869     0.001758   NaN         NaN
324  0.890872  0.000426    0.002851   0.093683     0.012167   NaN         NaN
326  0.943721  0.004425    0.001227   0.048869     0.001758   NaN         NaN
327  0.861513  0.000877    0.019131   0.115883     0.002597   NaN         NaN
328  0.358121  0.001204    0.004025   0.636083     0.000567   NaN         NaN
329  0.943721  0.004425    0.001227   0.048869     0.001758   NaN         NaN
330  0.890872  0.000426    0.002851   0.093683     0.012167   NaN         NaN
331  0.943721  0.004425    0.001227   0.048869     0.001758   NaN         NaN
332  0.890872  0.000426    0.002851   0.093683     0.012167   NaN         NaN
333  0.907320  0.015206    0.003474   0.065890     0.008110   NaN         NaN
334  0.675860  0.006505    0.139571   0.177637     0.000427   NaN         NaN
336  0.869759  0.010423    0.002115   0.108922     0.008781   NaN         NaN
377  0.586994  0.024517    0.076840   0.307926     0.003724   NaN         NaN
392  0.373893  0.029652    0.199901   0.377250     0.019305   NaN         NaN
477  0.552314  0.046727    0.037037   0.357191     0.006732   NaN         NaN
485  0.392464  0.007208    0.295117   0.290578     0.014632   NaN         NaN

[29 rows x 42 columns]

In [44]:
locations = ['Gottfried Creek', 'Halifax River', 'Hamilton Branch', 'Harney River', 'Hickory Creek','Hillsborough River', 'Homosassa River', 'Hontoon Dead River', 'Ichetucknee River', 'Imperial River',
        'Itchepackesassa Creek', 'Julington Creek', 'Kissimmee River', 'Lafayette Creek',"Little Econlockhatchee River", "Little Manatee River", "Little River (Biscayne Bay)",
        "Little River (Ochlockonee River tributary)", "Little Wekiva River", "Little Withlacoochee River","Lochloosa Creek", "Loxahatchee River", "Manatee River", "Matanzas River", "McCullough Creek",
        "Miami River", "Myakka River", "Myakkahatchee Creek", "New River (Broward County)","New River (Carrabelle River tributary)", "New River (Santa Fe River tributary)", "Ochlockonee River",
        "Ocklawaha River", "Oleta River", "Orange Creek", "Orange River", "Palatlakaha River", "Payne Creek","Pea River", "Peace River", "Pellicer Creek", "Perdido River", "Pimple Creek",
        "Pithlachascotee River", "Poplar Creek", "Pottsburg Creek", "Rainbow River", "Ribault River","Rice Creek (St. Johns River)", "Rocky Comfort Creek", "St. Johns River", "St. Marys River",
        "Santa Fe River", "Shingle Creek", "Silver River", "Snapper Creek", "Sopchoppy River","Spanish River", "Spanishtown Creek", "St. Lucie River", "St. Marks River", "St. Sebastian River",
        "Steinhatchee River", "Suwannee River", "Swamp Creek (Attapulgus Creek tributary)","Tampa Bypass Canal", "Telogia Creek", "Three Rivers State Park", "Tiger Creek", "Tomoka River",
        "Trout River", "Turkey Creek (Econlockhatchee River tributary)","Turkey Creek (Indian River tributary)", "Waccasassa River", "Wacissa River", "Wagner Creek",
        "Wakulla River", "Weeki Wachee River", "Wekiva River", "Wekiva River (Gulf Hammock, Levy County)","Whidden Creek", "Withlacoochee River", "Withlacoochee River (Suwannee River tributary)",
        "Yellow River (Pensacola Bay)", 'Apalachee Bay', 'Apalachicola Bay', 'Boca Ciega Bay', 'Charlotte Harbor','Choctawhatchee Bay', 'East Bay', 'Escambia Bay', 'Estero Bay', 'Florida Bay', 'Pensacola Bay', 'Ponce de Leon Bay',
        'Sarasota Bay', 'St. Andrews Bay', 'St. Joseph Bay', 'Tampa Bay', 'Whitewater Bay', "Anna Maria", "Bradenton","Bradenton Beach", "Cortez", "Ellenton", "Holmes Beach", "Longboat Key",
        "Myakka City", "Oneco", "Palmetto", "Parrish", "Sarasota", "Tallevast", "Terra Ceia", "Apollo Beach","Balm", "Brandon", "Dover", "Durant", "Gibsonton", "Lithia", "Lutz", "Mango", "Odessa", "Plant City",
        "Riverview", "Ruskin", "Seffner", "Sun City", "Sun City Center", "Sydney", "Tampa", "Thonotosassa","Valrico", "Wimauma", "Bay Pines", "Belleair Beach", "Clearwater", "Clearwater Beach", "Crystal Beach",
        "Dunedin", "Indian Rocks Beach", "Largo", "Oldsmar", "Ozona", "Palm Harbor", "Pinellas Park","Safety Harbor", "Saint Petersburg", "Seminole", "Tarpon Springs", "Aripeka", "Crystal Springs",
        "Dade City", "Holiday", "Hudson", "Lacoochee", "Land O Lakes", "New Port Richey", "Port Richey","Saint Leo", "San Antonio", "Spring Hill", "Trilby", "Wesley Chapel", "Zephyrhills", "fl",
        "florida", "swfl", "floridas", "manateecounty", "annamariaisland", "siestakey", "stpete", "sanibel", "everglades", "fortmyersbeach","manasotakey", "sarasotabay", "fortmyers", "lakeokeechobee", "bradentonbeach",
        "formyers", "bocagrande","siesta", "florda", "srq", "sarastoabay", "stpetersburg", "tampabay", "pinellascounty", "pineypoint", "clearwaterbeach", "capecoral", "gulfofmexico","portcharlotte","bay", "gulf","st","pete", "St.Petersburg"
        "petersburg", "bay", "gulf", "mexico",
]
locations = [x.lower() for x in locations]

In [46]:
import pandas as pd

# Splitting words in each text_with_display_links entry
oil_acad['words'] = oil_acad['text_with_display_links'].str.split()
print(oil_acad)

# Exploding to create rows for each word
oil_acad = oil_acad.explode('words')

print(oil_acad)

# Define stop words (words you want to exclude)
oil_stop_words = ["oil", "crude", "petroleum", "tar ball", "tar balls","leak","leaks","leaked", "leaking", "leakage", "spill", "spills", "spilled", "spilling", "spillage", "ocean", "beach", "beaches", "bay", "gulf", "sea", "lake", "river", "creek", "waterway"]

# Filter out the locations and search words
oil_acad = oil_acad[~oil_acad['words'].isin(locations)]
oil_acad = oil_acad[~oil_acad['words'].isin(oil_stop_words)]

# Dropping duplicates of user and words to get unique user-word pairs
unique_user_word_pairs = oil_acad[['username', 'words']].drop_duplicates()

# Counting unique users per word
word_usage_count = unique_user_word_pairs.groupby('words')['username'].nunique().reset_index(name='count')

# adding the acc type column
word_usage_count['acc_type'] = "acad"

# Reordering columns
word_usage_count = word_usage_count[['acc_type', 'words', 'count']]

# Count how many unique words have been used by at least one user
unique_word_count = word_usage_count['words'].nunique()

     Unnamed: 0                                               text  \
6             1  @jamesapisano The Barataria Bay Bottlenose dol...
32            9  Join researchers and responders as they discus...
36           13  RT @NASEM_Gulf: Join researchers and responder...
37           14  RT @NASEM_Gulf: Join researchers and responder...
69           46  RT @usfsp: Associate Professor Heather Judkins...
113          23  As a scientist..we're so frustrated. Politics ...
139          49  RT @RECOVER_GOMRI: #tbt to 2016 Gulf of Mexico...
141          51  RT @RECOVER_GOMRI: #tbt to 2016 Gulf of Mexico...
143          53  RT @RECOVER_GOMRI: #tbt to 2016 Gulf of Mexico...
315         225  We are very pleased to be running a pelagic ec...
316         226  Steve Murawski presented at Tampa Bay's Festiv...
319         229  Join us at the 2020 Gulf of Mexico Oil Spill &...
322         232  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
323         233  Join us at the 2020 Gulf of Mexico Oil Spill &...
324         234  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
326         236  Join us at the 2020 Gulf of Mexico Oil Spill &...
327         237  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
328         238  ⁦@GulfConference⁩ Drs Rita Colwell and Ellen W...
329         239  Join us at the 2020 Gulf of Mexico Oil Spill &...
330         240  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
331         241  Join us at the 2020 Gulf of Mexico Oil Spill &...
332         242  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
333         243  RT @NASEM_Gulf: Join us at the 2020 Gulf of Me...
334         244  Did you catch the world-premiere of the Gulf o...
336         246  RT @ESMaungDouglass: Did you catch the world-p...
377         287  The Cuyahoga river in Cleveland burst into fla...
392         302  @Doldua17 @GovRonDeSantis Word is this could c...
477         387  #OTD in 1993, three vessels collided near the ...
485         395  via ⁦⁦@nytimes⁩ A manageable risk? This, along...

     possibly_sensitive                   id            author_id  \
6                 False   949380859404038144           1551101437
32                False  1113871426057113600           3438303297
36                False  1113905363726798849           1732895058
37                False  1114036577402064896   971780036368961536
69                False  1550207558534606848            159496534
113               False  1033830354157821952            743758458
139               False  1091086111324192769   863052926469722112
141               False  1092451055122739200           3030402067
143               False  1092507712838135810   742780043416326145
315               False  1169241458525835271  1119240137374871553
316               False  1193223987154882560            937673342
319               False  1212768037855809536           3438303297
322               False  1213185439517024257  1131689631173554177
323               False  1217140627303026688           3438303297
324               False  1217280729039745026            390839075
326               False  1222188099960299520           3438303297
327               False  1222335774500294662           3127920234
328               False  1224345361025785856           1657845170
329               False  1224347414288588802           3438303297
330               False  1224527313032839168            390839075
331               False  1224815128262139908           3438303297
332               False  1224838118815170560            390839075
333               False  1225106825663651840            403517702
334               False  1227328142945193984           3097648455
336               False  1227341517099917312             46137812
377               False  1329082038394130441  1012036197559029763
392               False  1378518953081901065           2551758512
477               False  1425142348024061955           2196784676
485               False  1445050697477607424             39362298

         conversation_id  in_reply_to_user_id reply_settings lang  \
6     949089545953296384         4.907248e+08       everyone   en
32   1113871426057113600                  NaN       everyone   en
36   1113905363726798849                  NaN       everyone   en
37   1114036577402064896                  NaN       everyone   en
69   1550207558534606848                  NaN       everyone   en
113  1033830354157821952                  NaN       everyone   en
139  1091086111324192769                  NaN       everyone   en
141  1092451055122739200                  NaN       everyone   en
143  1092507712838135810                  NaN       everyone   en
315  1169241458525835271                  NaN       everyone   en
316  1193223987154882560                  NaN       everyone   en
319  1212768037855809536                  NaN       everyone   en
322  1213185439517024257                  NaN       everyone   en
323  1217140627303026688                  NaN       everyone   en
324  1217280729039745026                  NaN       everyone   en
326  1222188099960299520                  NaN       everyone   en
327  1222335774500294662                  NaN       everyone   en
328  1224345361025785856                  NaN       everyone   en
329  1224347414288588802                  NaN       everyone   en
330  1224527313032839168                  NaN       everyone   en
331  1224815128262139908                  NaN       everyone   en
332  1224838118815170560                  NaN       everyone   en
333  1225106825663651840                  NaN       everyone   en
334  1227328142945193984                  NaN       everyone   en
336  1227341517099917312                  NaN       everyone   en
377  1329082036527661059         1.012036e+18       everyone   en
392  1378475858332123138         1.246969e+18       everyone   en
477  1425142348024061955                  NaN       everyone   en
485  1445050697477607424                  NaN       everyone   en

            created_at.x  ...  \
6    2018-01-05 20:43:30  ...
32   2019-04-04 18:30:17  ...
36   2019-04-04 20:45:08  ...
37   2019-04-05 05:26:32  ...
69   2022-07-21 19:54:18  ...
113  2018-08-26 21:35:38  ...
139  2019-01-31 21:29:34  ...
141  2019-02-04 15:53:22  ...
143  2019-02-04 19:38:31  ...
315  2019-09-04 13:31:01  ...
316  2019-11-09 17:49:02  ...
319  2020-01-02 16:10:07  ...
322  2020-01-03 19:48:43  ...
323  2020-01-14 17:45:13  ...
324  2020-01-15 03:01:56  ...
326  2020-01-28 16:02:04  ...
327  2020-01-29 01:48:53  ...
328  2020-02-03 14:54:15  ...
329  2020-02-03 15:02:25  ...
330  2020-02-04 02:57:16  ...
331  2020-02-04 22:00:57  ...
332  2020-02-04 23:32:18  ...
333  2020-02-05 17:20:03  ...
334  2020-02-11 20:26:46  ...
336  2020-02-11 21:19:55  ...
377  2020-11-18 15:20:25  ...
392  2021-04-04 01:25:04  ...
477  2021-08-10 17:09:48  ...
485  2021-10-04 15:38:28  ...

                                description_lemmatized hand.label_simplified  \
6    ['surfer', ',', 'sailor', ',', 'cetacean', 're...                  acad
32   ['the', 'gulf', 'research', 'program', 'of', '...                  acad
36   ['we', 'be', 'a', 'team', 'of', 'scientist', '...                  acad
37   ['marine', 'science', 'research', 'institute',...                  acad
69   ['with', '', 'academic', 'department', '&', ''...                  acad
113  ['m.s', '.', 'marine', 'biologist', '.', 'educ...                  acad
139  ['discovery', 'begin', 'here', '.', 'become', ...                  acad
141  ['utmsi', 'be', 'a', 'department', 'of', 'the'...                  acad
143  ['university', 'of', 'north', 'texas', '.', 'i...                  acad
315  ['we', 'be', 'the', 'seascape', 'lab', 'at', '...                  acad
316  ['an', 'international', 'consortium', 'study',...                  acad
319  ['the', 'gulf', 'research', 'program', 'of', '...                  acad
322  ['be', 'you', 'a', 'utrgv', 'student', 'with',...                  acad
323  ['the', 'gulf', 'research', 'program', 'of', '...                  acad
324  ['professional', 'marine', 'biologist', ',', '...                  acad
326  ['the', 'gulf', 'research', 'program', 'of', '...                  acad
327  ['hi', '!', 'my', 'name', 'be', 'squirt', '&',...                  acad
328  ['snr', 'social', 'and', 'behavioral', 'scient...                  acad
329  ['the', 'gulf', 'research', 'program', 'of', '...                  acad
330  ['professional', 'marine', 'biologist', ',', '...                  acad
331  ['the', 'gulf', 'research', 'program', 'of', '...                  acad
332  ['professional', 'marine', 'biologist', ',', '...                  acad
333  ['ngi', 'develops', ',', 'operates', 'and', 'm...                  acad
334  ['public', 'engagement', 'specialist', '@', 'l...                  acad
336  ['louisiana', 'sea', 'grant', 'college', 'prog...                  acad
377  ['the', 'office', 'of', 'campus', 'safety', 'f...                  acad
392  ['creator', 'of', '#', 'sidewalksciencecenter'...                  acad
477  ['@', 'noaa', "'s", 'office', 'of', 'response'...                  acad
485  ['diver', ',', 'cyclist', ',', 'hiker', ',', '...                  acad

     acad_prob  gov_prob media_prob  other_prob tourbiz_prob Label Label.Type  \
6     0.830953  0.002286   0.005970    0.144719     0.016073   NaN        NaN
32    0.943721  0.004425   0.001227    0.048869     0.001758   NaN        NaN
36    0.973504  0.000624   0.014026    0.011510     0.000335   NaN        NaN
37    0.998633  0.000393   0.000059    0.000613     0.000302   NaN        NaN
69    0.428769  0.011160   0.006297    0.550501     0.003273   NaN        NaN
113   0.565843  0.000736   0.002633    0.413360     0.017428   NaN        NaN
139   0.940705  0.001007   0.003235    0.054601     0.000452   NaN        NaN
141   0.455684  0.009440   0.002407    0.501951     0.030518   NaN        NaN
143   0.889284  0.000527   0.000374    0.109605     0.000211   NaN        NaN
315   0.979548  0.000130   0.000608    0.018919     0.000796   NaN        NaN
316   0.502699  0.011170   0.045443    0.430871     0.009817   NaN        NaN
319   0.943721  0.004425   0.001227    0.048869     0.001758   NaN        NaN
322   0.974479  0.000302   0.000297    0.023609     0.001312   NaN        NaN
323   0.943721  0.004425   0.001227    0.048869     0.001758   NaN        NaN
324   0.890872  0.000426   0.002851    0.093683     0.012167   NaN        NaN
326   0.943721  0.004425   0.001227    0.048869     0.001758   NaN        NaN
327   0.861513  0.000877   0.019131    0.115883     0.002597   NaN        NaN
328   0.358121  0.001204   0.004025    0.636083     0.000567   NaN        NaN
329   0.943721  0.004425   0.001227    0.048869     0.001758   NaN        NaN
330   0.890872  0.000426   0.002851    0.093683     0.012167   NaN        NaN
331   0.943721  0.004425   0.001227    0.048869     0.001758   NaN        NaN
332   0.890872  0.000426   0.002851    0.093683     0.012167   NaN        NaN
333   0.907320  0.015206   0.003474    0.065890     0.008110   NaN        NaN
334   0.675860  0.006505   0.139571    0.177637     0.000427   NaN        NaN
336   0.869759  0.010423   0.002115    0.108922     0.008781   NaN        NaN
377   0.586994  0.024517   0.076840    0.307926     0.003724   NaN        NaN
392   0.373893  0.029652   0.199901    0.377250     0.019305   NaN        NaN
477   0.552314  0.046727   0.037037    0.357191     0.006732   NaN        NaN
485   0.392464  0.007208   0.295117    0.290578     0.014632   NaN        NaN

                                                 words
6    [barataria, bay, bottlenose, dolphin, populati...
32   [join, researcher, responder, discuss, science...
36   [join, researcher, responder, discuss, science...
37   [join, researcher, responder, discuss, science...
69   [associate, professor, heather, judkins, disco...
113  [scientist, frustrate, politics, fund, prevent...
139  [tbt, gulf, mexico, oil, spill, ecosystem, sci...
141  [tbt, gulf, mexico, oil, spill, ecosystem, sci...
143  [tbt, gulf, mexico, oil, spill, ecosystem, sci...
315  [pleased, run, pelagic, ecology, session, gulf...
316  [steve, murawski, present, tampa, festival, re...
319  [join, gulf, mexico, oil, spill, amp, ecosyste...
322  [join, gulf, mexico, oil, spill, amp, ecosyste...
323  [join, gulf, mexico, oil, spill, amp, ecosyste...
324  [join, gulf, mexico, oil, spill, amp, ecosyste...
326  [join, gulf, mexico, oil, spill, amp, ecosyste...
327  [join, gulf, mexico, oil, spill, amp, ecosyste...
328  [drs, rita, colwell, ellen, williams, reflect,...
329  [join, gulf, mexico, oil, spill, amp, ecosyste...
330  [join, gulf, mexico, oil, spill, amp, ecosyste...
331  [join, gulf, mexico, oil, spill, amp, ecosyste...
332  [join, gulf, mexico, oil, spill, amp, ecosyste...
333  [join, gulf, mexico, oil, spill, amp, ecosyste...
334  [catch, premiere, gulf, mexico, oil, spill, sc...
336  [catch, premiere, gulf, mexico, oil, spill, sc...
377  [cuyahoga, river, cleveland, burst, flame, sep...
392  [word, ecological, disaster, bad, oil, spill, ...
477  [otd, vessel, collide, entrance, tampa, bay, f...
485  [manageable, risk, oil, spill, year, san, fran...

[29 rows x 43 columns]
     Unnamed: 0                                               text  \
6             1  @jamesapisano The Barataria Bay Bottlenose dol...
6             1  @jamesapisano The Barataria Bay Bottlenose dol...
6             1  @jamesapisano The Barataria Bay Bottlenose dol...
6             1  @jamesapisano The Barataria Bay Bottlenose dol...
6             1  @jamesapisano The Barataria Bay Bottlenose dol...
..          ...                                                ...
485         395  via ⁦⁦@nytimes⁩ A manageable risk? This, along...
485         395  via ⁦⁦@nytimes⁩ A manageable risk? This, along...
485         395  via ⁦⁦@nytimes⁩ A manageable risk? This, along...
485         395  via ⁦⁦@nytimes⁩ A manageable risk? This, along...
485         395  via ⁦⁦@nytimes⁩ A manageable risk? This, along...

     possibly_sensitive                   id   author_id      conversation_id  \
6                 False   949380859404038144  1551101437   949089545953296384
6                 False   949380859404038144  1551101437   949089545953296384
6                 False   949380859404038144  1551101437   949089545953296384
6                 False   949380859404038144  1551101437   949089545953296384
6                 False   949380859404038144  1551101437   949089545953296384
..                  ...                  ...         ...                  ...
485               False  1445050697477607424    39362298  1445050697477607424
485               False  1445050697477607424    39362298  1445050697477607424
485               False  1445050697477607424    39362298  1445050697477607424
485               False  1445050697477607424    39362298  1445050697477607424
485               False  1445050697477607424    39362298  1445050697477607424

     in_reply_to_user_id reply_settings lang         created_at.x  ...  \
6            490724761.0       everyone   en  2018-01-05 20:43:30  ...
6            490724761.0       everyone   en  2018-01-05 20:43:30  ...
6            490724761.0       everyone   en  2018-01-05 20:43:30  ...
6            490724761.0       everyone   en  2018-01-05 20:43:30  ...
6            490724761.0       everyone   en  2018-01-05 20:43:30  ...
..                   ...            ...  ...                  ...  ...
485                  NaN       everyone   en  2021-10-04 15:38:28  ...
485                  NaN       everyone   en  2021-10-04 15:38:28  ...
485                  NaN       everyone   en  2021-10-04 15:38:28  ...
485                  NaN       everyone   en  2021-10-04 15:38:28  ...
485                  NaN       everyone   en  2021-10-04 15:38:28  ...

                                description_lemmatized hand.label_simplified  \
6    ['surfer', ',', 'sailor', ',', 'cetacean', 're...                  acad
6    ['surfer', ',', 'sailor', ',', 'cetacean', 're...                  acad
6    ['surfer', ',', 'sailor', ',', 'cetacean', 're...                  acad
6    ['surfer', ',', 'sailor', ',', 'cetacean', 're...                  acad
6    ['surfer', ',', 'sailor', ',', 'cetacean', 're...                  acad
..                                                 ...                   ...
485  ['diver', ',', 'cyclist', ',', 'hiker', ',', '...                  acad
485  ['diver', ',', 'cyclist', ',', 'hiker', ',', '...                  acad
485  ['diver', ',', 'cyclist', ',', 'hiker', ',', '...                  acad
485  ['diver', ',', 'cyclist', ',', 'hiker', ',', '...                  acad
485  ['diver', ',', 'cyclist', ',', 'hiker', ',', '...                  acad

     acad_prob  gov_prob media_prob  other_prob tourbiz_prob Label Label.Type  \
6     0.830953  0.002286   0.005970    0.144719     0.016073   NaN        NaN
6     0.830953  0.002286   0.005970    0.144719     0.016073   NaN        NaN
6     0.830953  0.002286   0.005970    0.144719     0.016073   NaN        NaN
6     0.830953  0.002286   0.005970    0.144719     0.016073   NaN        NaN
6     0.830953  0.002286   0.005970    0.144719     0.016073   NaN        NaN
..         ...       ...        ...         ...          ...   ...        ...
485   0.392464  0.007208   0.295117    0.290578     0.014632   NaN        NaN
485   0.392464  0.007208   0.295117    0.290578     0.014632   NaN        NaN
485   0.392464  0.007208   0.295117    0.290578     0.014632   NaN        NaN
485   0.392464  0.007208   0.295117    0.290578     0.014632   NaN        NaN
485   0.392464  0.007208   0.295117    0.290578     0.014632   NaN        NaN

          words
6     barataria
6           bay
6    bottlenose
6       dolphin
6    population
..          ...
485       tampa
485         bay
485   louisiana
485       ocean
485       spill

[581 rows x 43 columns]

/var/folders/v1/dkrd1tzx2cvd0z9f5pbj8xp00000gn/T/ipykernel_35568/1316496190.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oil_acad['words'] = oil_acad['text_with_display_links'].str.split()

In [48]:
unique_word_count

162

In [50]:
word_usage_count.sort_values(by='count', ascending=False)

    acc_type       words  count
135     acad     science     14
25      acad  conference      9
101     acad    outreach      8
66      acad     gomoses      8
44      acad   ecosystem      8
..       ...         ...    ...
82      acad     judkins      1
28      acad      cruise      1
80      acad         jet      1
79      acad  initiative      1
102     acad          pa      1

[162 rows x 3 columns]

In [52]:
top_10_oil_acad = word_usage_count.sort_values(by='count', ascending=False).head(10)

In [54]:
top_10_oil_acad

    acc_type       words  count
135     acad     science     14
25      acad  conference      9
101     acad    outreach      8
66      acad     gomoses      8
44      acad   ecosystem      8
86      acad       learn      7
81      acad        join      7
157     acad        week      6
117     acad     program      6
138     acad     session      5

## Let's turn this into a function to apply to all!

In [72]:
def tf_idf_preprocessing(file, acc_type, search_stop_words, location_stop_words, print_stat):
    file_acc_typed = file[file["hand.label_simplified"]==acc_type]
    # Splitting words in each text_with_display_links entry
    file_acc_typed['words'] = file_acc_typed['text_with_display_links'].str.split()
    
    # Exploding to create rows for each word
    file_acc_typed = file_acc_typed.explode('words')
    
    # Filter out the locations and search words
    file_acc_typed = file_acc_typed[~file_acc_typed['words'].isin(locations)]
    file_acc_typed = file_acc_typed[~file_acc_typed['words'].isin(search_stop_words)]
    
    # Dropping duplicates of user and words to get unique user-word pairs
    unique_user_word_pairs = file_acc_typed[['username', 'words']].drop_duplicates()
    
    # Counting unique users per word
    word_usage_count = unique_user_word_pairs.groupby('words')['username'].nunique().reset_index(name='count')
    
    # adding the acc type column
    word_usage_count['acc_type'] = acc_type
    
    # Reordering columns
    word_usage_count = word_usage_count[['acc_type', 'words', 'count']]
    
    # Count how many unique words have been used by at least one user
    unique_word_count = word_usage_count['words'].nunique()

    print(print_stat)
    print(word_usage_count.sort_values(by='count', ascending=False).head(10))
    word_usage_count.to_csv(f"not_merged_tf_idf/{print_stat}.csv", index=False)

In [74]:
# stopwords
oil_stop_words = ["oil", "crude", "petroleum", "tar ball", "tar balls","leak","leaks","leaked", "leaking", "leakage", "spill", "spills", "spilled", "spilling", "spillage", "ocean", "beach", "beaches", "bay", "gulf", "sea", "lake", "river", "creek", "waterway"]
sewage_stop_words=["wastewater", "sewer", "sewers", "sewage", "septic", "stormwater", "storm water", "reclaimed water", "reclaim water", "untreated", "raw", "overflow", "discharge", "discharges", "discharging", "discharged", "pump", "pumps", "pumping", "pumped", "leak", "leaks", "leaked", "leaking", "leakage", "spill", "spills", "spilled", "spilling", "spillage", "dump", "dumps", "dumped", "dumping","ocean", "beach", "beaches", "bay", "gulf", "sea", "lake", "river", "creek", "waterway"]
industrial_stop_words = ["wastewater","contaminants", "contamination", "contaminating", "chemical", "chemicals", "discharge", "discharges", "discharging", "discharged", "pump", "pumps", "pumping", "pumped", "leak", "leaks", "leaked", "leaking", "leakage", "spill", "spills", "spilled", "spilling", "spillage","dump", "dumps", "dumped","dumping", "ocean", "beach", "beaches", "bay", "gulf", "sea", "lake", "river", "creek", "waterway"]

In [76]:
tf_idf_preprocessing(oil_w_acc, "acad", oil_stop_words, locations, "oil_acad")
tf_idf_preprocessing(oil_w_acc, "gov", oil_stop_words, locations, "oil_gov")
tf_idf_preprocessing(oil_w_acc, "media", oil_stop_words, locations, "oil_media")
tf_idf_preprocessing(oil_w_acc, "other", oil_stop_words, locations, "oil_other")
tf_idf_preprocessing(oil_w_acc, "tourbiz", oil_stop_words, locations, "oil_tourbiz")
tf_idf_preprocessing(industrial_w_acc, "acad", industrial_stop_words, locations, "industrial_acad")
tf_idf_preprocessing(industrial_w_acc, "gov", industrial_stop_words, locations, "industrial_gov")
tf_idf_preprocessing(industrial_w_acc, "media", industrial_stop_words, locations, "industrial_media")
tf_idf_preprocessing(industrial_w_acc, "other", industrial_stop_words, locations, "industrial_other")
tf_idf_preprocessing(industrial_w_acc, "tourbiz", industrial_stop_words, locations, "industrial_tourbiz")
tf_idf_preprocessing(sewage_w_acc, "acad", sewage_stop_words, locations, "sewage_acad")
tf_idf_preprocessing(sewage_w_acc, "gov", sewage_stop_words, locations, "sewage_gov")
tf_idf_preprocessing(sewage_w_acc, "media", sewage_stop_words, locations, "sewage_media")
tf_idf_preprocessing(sewage_w_acc, "other", sewage_stop_words, locations, "sewage_other")
tf_idf_preprocessing(sewage_w_acc, "tourbiz", sewage_stop_words, locations, "sewage_tourbiz")

oil_acad
Empty DataFrame
Columns: [acc_type, words, count]
Index: []
oil_gov
Empty DataFrame
Columns: [acc_type, words, count]
Index: []
oil_media
Empty DataFrame
Columns: [acc_type, words, count]
Index: []
oil_other
Empty DataFrame
Columns: [acc_type, words, count]
Index: []
oil_tourbiz
Empty DataFrame
Columns: [acc_type, words, count]
Index: []
industrial_acad
Empty DataFrame
Columns: [acc_type, words, count]
Index: []
industrial_gov
   acc_type          words  count
0       gov          april      1
14      gov       maintain      1
25      gov          stack      1
24      gov          sewer      1
23      gov        service      1
22      gov        problem      1
21      gov          point      1
20      gov          piney      1
19      gov  phosphogypsum      1
18      gov      phosphate      1
industrial_media
Empty DataFrame
Columns: [acc_type, words, count]
Index: []
industrial_other
Empty DataFrame
Columns: [acc_type, words, count]
Index: []
industrial_tourbiz
Empty DataFrame
Columns: [acc_type, words, count]
Index: []
sewage_acad
   acc_type          words  count
31     acad          water      2
1      acad           area      2
30     acad           time      1
29     acad           term      1
28     acad           talk      1
27     acad       surround      1
26     acad            sho      1
25     acad      saltwater      1
24     acad         runoff      1
23     acad  radioactivity      1
sewage_gov
   acc_type    words  count
2       gov     area      2
51      gov     team      2
0       gov  alabama      1
45      gov   repair      1
33      gov    mayor      1
34      gov      mid      1
35      gov    multi      1
36      gov    nasty      1
37      gov    night      1
38      gov  nokomis      1
sewage_media
   acc_type       words  count
91    media       water      6
54    media        late      4
24    media    continue      4
18    media        city      3
42    media      gallon      3
22    media     confirm      2
76    media        rise      2
52    media       issue      2
27    media  correction      2
31    media       crest      2
sewage_other
    acc_type           words  count
360    other          gallon     49
952    other           water     48
644    other            pipe     22
529    other         manatee     19
148    other            city     18
430    other           human     16
987    other            year     15
950    other           waste     15
454    other  infrastructure     15
865    other            swim     14
sewage_tourbiz
  acc_type        words  count
0  tourbiz        await      1
1  tourbiz  conjunction      1
2  tourbiz          day      1
3  tourbiz         hole      1
4  tourbiz        issue      1
5  tourbiz         late      1
6  tourbiz    literally      1
7  tourbiz        rapid      1
8  tourbiz       region      1
9  tourbiz         shit      1

/var/folders/v1/dkrd1tzx2cvd0z9f5pbj8xp00000gn/T/ipykernel_35568/1421598334.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_acc_typed['words'] = file_acc_typed['text_with_display_links'].str.split()
/var/folders/v1/dkrd1tzx2cvd0z9f5pbj8xp00000gn/T/ipykernel_35568/1421598334.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_acc_typed['words'] = file_acc_typed['text_with_display_links'].str.split()
/var/folders/v1/dkrd1tzx2cvd0z9f5pbj8xp00000gn/T/ipykernel_35568/1421598334.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_acc_typed['words'] = file_acc_typed['text_with_display_links'].str.split()
/var/folders/v1/dkrd1tzx2cvd0z9f5pbj8xp00000gn/T/ipykernel_35568/1421598334.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_acc_typed['words'] = file_acc_typed['text_with_display_links'].str.split()
/var/folders/v1/dkrd1tzx2cvd0z9f5pbj8xp00000gn/T/ipykernel_35568/1421598334.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file_acc_typed['words'] = file_acc_typed['text_with_display_links'].str.split()

In [78]:
oil_w_acc = oil_w_acc[oil_w_acc["hand.label_simplified"]=="tourbiz"]
print(oil_w_acc["text_with_display_links"])

654    tampa bay leaking oil
Name: text_with_display_links, dtype: object

In [80]:
industrial_w_acc = industrial_w_acc[industrial_w_acc["hand.label_simplified"]=="gov"]
print(industrial_w_acc["text_with_display_links"])

2256    grease nasty problem block sewer line wastewat...
8303    gallon wastewater piney point phosphate mining...
Name: text_with_display_links, dtype: object

In [84]:
import os
# merging all dynamically
files = [os.path.join("not_merged_tf_idf", file) for file in os.listdir("not_merged_tf_idf") if file.endswith('.csv')]

# List to hold all the DataFrames
dfs = []

# Read each file into a DataFrame and add it to the list
for file in files:
    df = pd.read_csv(file)  # adjust this line based on your file format
    dfs.append(df)

# Merge all DataFrames in the list
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = merged_df.merge(df, how='outer')  # Adjust 'common_column' and 'how' as needed

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('merged_tf_idf/tf_idf_preprocessed.csv', index=False)

# TF-IDF WordCloud Incomplete

In [86]:
tf_idf_preprocessed = pd.read_csv('merged_tf_idf/tf_idf_preprocessed.csv')

In [92]:
# resource: https://ayselaydin.medium.com/6-creating-a-word-cloud-using-tf-idf-in-python-2554742d86d9 (i believe she's turkish ;))
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

tfidf_matrix = vectorizer.fit_transform(tf_idf_preprocessed)

In [110]:
print(tfidf_matrix)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 3 stored elements and shape (3, 3)>
  Coords	Values
  (0, 0)	1.0
  (1, 2)	1.0
  (2, 1)	1.0

In [112]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt

wordcloud = WordCloud(width=800, height=400, background_color='white').generate_from_frequencies(vectorizer.vocabulary_)

plt.figure(figsize=(10, 5))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.show()

ImportError: cannot import name 'WordCloud' from 'wordcloud' (unknown location)